<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="J2N Preview" value="https://www.myget.org/F/j2n-preview/api/v3/index.json" />
		<add key="ICU4N Preview" value="https://www.myget.org/F/icu4n-temp/api/v3/index.json" />
		<add key="Morfologik.Stemming Preview" value="https://www.myget.org/F/morfologik-stemming-preview/api/v3/index.json" />
		<add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
</configuration>